@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }


}

@layer components {
  .mailbox-input {
    @apply flex-1 rounded-md p-2 ring-2 ring-white bg-transparent focus:ring-2 focus:ring-blue-500 transition-all;
  }
  .social-icon{
    @apply p-2 rounded-md ring-2 shadow-[rgba(0,0,0,1)_5px_5px_0px_1px]  ring-gray-400/10 hover:bg-white hover:shadow-none flex items-center justify-center;
  }
}

html {
  @apply font-Poppins scroll-smooth;
}

body {
  @apply box-border bg-gray-800 text-gray-100;
}

.btn-primary {
  @apply bg-cyan-600 font-semibold text-white md:mx-0 mx-auto rounded-full py-3 px-6 flex items-center gap-2;
}

.aboutImg::after {
  @apply content-[''] w-full left-0 top-0 rounded-xl rotate-12 h-full absolute bg-gray-600 -z-10;
}

.swiper-pagination-bullet {
  @apply bg-white;
}

input,
textarea {
  @apply bg-gray-700 outline-none rounded-lg p-3;
}

::placeholder {
  @apply text-lg;
}

::selection {
  @apply bg-cyan-600;
}